// GULP TEMPLATE - VIEWS LAYOUT _footer.slim - Victor Allegret
// --------------------------------------------------------

// FOOTER
// --------------------------------------------------------
footer