// GULP TEMPLATE - VIEWS LAYOUT _header.slim - Victor Allegret
// --------------------------------------------------------

// HEADER
// --------------------------------------------------------
header