// GULP TEMPLATE - VIEWS PARTIALS _to-remove.slim - Victor Allegret
// --------------------------------------------------------

// REMOVE AREA
// --------------------------------------------------------
.template-landing style="height:90vh;width:90vw;margin-top:5vh;margin-left:5vw;background-color:#292929;color:#f0f0f0;border-radius:25px;align-items:center;display:flex;justify-content:center;"
  img src="assets/images/default/logo.png"