// GULP TEMPLATE - VIEWS index.slim - Victor Allegret
// --------------------------------------------------------

////////////////////
/! PAGE CONTENT
////////////////////////////////////////////////////////////////////////////////
//!\\ TODO : remove template basic content
include dev/views/partials/_to-remove